body {
  margin-top: 80px;
}

a {
  text-decoration: none;
}

.title {
  font-size: .75rem;
  font-weight: bold;
  margin-top: 2px;
}

.date {
  font-size: .75rem;
}

.comment {
  font-size: .85rem;
  background-color: #cccccc;
  border-radius: 4px;
  padding: 5px;
  margin-left: 12px;
  margin-bottom: 5px;
}

.yearbutton {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #222222;
  color: white;
  border-radius: 4px;
  border-width: 0px;
  margin-bottom: 20px;
}

#image-here {
  width: 400px;
}
